body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4e2e2;
}

.container{
    margin: auto;
    width: 70em;
    padding: 25px;
    text-align: center;
}

.form input{
    width: 100%;
}